<script type="text/javascript">
	var id = {KEY};
	var import_data;
	
	$(function(){
		$('#dynamictemplate_form_table tbody').sortable({
			cancel: '.not-sortable, input, .input, select',
			cursor: 'pointer',
		});
	});
	
	function add_row(){
		var new_module = $('#reference_row').html()+"";
		new_module = new_module.replace(/KEY/g, id);
		$("#dynamictemplate_form_table").find('tbody').append('<tr>'+new_module+'</tr>');
		id++;
	}
	function delete_row(obj){
		$(obj).parent().parent().remove();
	}
	
	function import_dialog(){
		$('#dynamictemplate_export').dialog({
			title: {L_dynamictemplate_import|jsencode},
			height: 'auto',
			width: 600,
			modal: true,
			buttons: {
				{L_dynamictemplate_import_btn|jsencode}: import_modules,
				{L_cancel|jsencode}: function() {
					$(this).dialog('destroy');
				}
			},
			close: function(event, ui){
				$(this).dialog('destroy');
			}
		});
	}
	
	function import_modules(){
		import_data = JSON.parse( $('#dynamictemplate_export_data').val() );
		$.each(import_data, function(module, data){
			var new_module = $('#reference_row').html()+"";
			new_module = new_module.replace(/KEY/g, id);
			$('#dynamictemplate_form_table').find('tbody').append('<tr>'+new_module+'</tr>');
			
			$('input[name="module['+id+'][active]"]').prop('checked', data['active']);
			$('input[name="module['+id+'][name]"]').val(data['name']);
			$('select[name="module['+id+'][listener]"]').val(data['listener']);
			//$('textarea[name="module['+id+'][listener]"] option[value="'+data['listener']+'"]').prop('selected', true);
			$('textarea[name="module['+id+'][value]"]').html(data['value']);
			
			id++;
    	});
		$('#dynamictemplate_export').dialog('destroy');
	}
</script>


<div class="contentHeader">
	<h1 class="contentTitle">{L_dynamictemplate_main_settings}</h1>
</div>

<div class="infobox infobox-large infobox-blue clearfix">
	<i class="fa fa-info-circle fa-3x pull-left"></i> {L_dynamictemplate_customcheck_info}
</div>

<form name="dynamictemplate_settings" action="{ACTION}" method="post">
	<div class="tableHeader floatRight">
		<button type="button" onclick="add_row();"><i class="fa fa-plus"></i>{L_dynamictemplate_add_module}</button>
		<button type="button" onclick="import_dialog();"><i class="fa fa-share-square-o fa-fw fa-lg"></i>{L_dynamictemplate_import_btn}</button>
	</div>
	<div class="clear"></div>
	<table id="dynamictemplate_form_table" class="table fullwidth colorswitch">
		<thead>
		<tr class="not-sortable">
			<th width="10px"></th>
			<th width="10px"></th>
			<th width="20px;"></th>
			<th style="min-width: 30px;width: 30px;">{L_dynamictemplate_active}</th>
			<th style="min-width: 310px;width: 310px;">{L_dynamictemplate_name}</th>
			<th>{L_dynamictemplate_value}</th>
		</tr>
		</thead>
		<tbody>
		<!-- BEGIN modules -->
		<tr>
			<td><span class="ui-icon ui-icon-arrowthick-2-n-s" title="{L_dragndrop}"></span></td>
			<td width="10px">#{modules.KEY}</td>
			<td align="center"><input type="hidden" name="module[{modules.KEY}][id]" value="{modules.KEY}" class="dynamictemplate_id"/><i class="fa fa-trash-o fa-lg hand" title="{L_dynamictemplate_delete_module}"  onclick="delete_row(this);"></i></td>
			
			<td><input type="checkbox" name="module[{modules.KEY}][active]" value="1" {modules.ACTIVE}/></td>
			<td>{DYNAMICTEMPLATE_<input type="text" name="module[{modules.KEY}][name]" value="{modules.NAME}" class="input dynamictemplate_name" />}
			<br />&lt;!-- LISTENER {modules.LISTENER} --&gt;</td>
			<td><textarea name="module[{modules.KEY}][value]" rows="4" class="input" style="height:{modules.OPTIONS_HEIGHT}px;width: 97%;">{modules.VALUE}</textarea></td>
		</tr>
		<!-- END modules -->
		</tbody>
	</table>
	<div class="contentFooter" style="height:40px">
		<button type="submit" name="save"><i class="fa fa-check"></i>{L_save}</button>
	</div>
	
{CSRF_TOKEN}
</form>

<div id="dynamictemplate_export" style="display:none;">
	<div class="infobox infobox-large infobox-blue clearfix">
		<i class="fa fa-info-circle fa-4x pull-left"></i> {L_dynamictemplate_import_info}
	</div>
	<textarea id="dynamictemplate_export_data" name="export_data" cols="75" rows="10" onfocus="this.select();">{EXPORT_DATA}</textarea>
</div>

<table style="display:none;">
	<tr id="reference_row">
		<td><span class="ui-icon ui-icon-arrowthick-2-n-s" title="{L_dragndrop}"></span></td>
		<td width="10px">#KEY</td>
		<td align="center"><input type="hidden" name="module[KEY][id]" value="KEY" class="dynamictemplate_id" /><i class="fa fa-trash-o fa-lg hand" title="{L_delte}" onclick="delete_row(this);"></i></td>
		<td><input type="checkbox" name="module[KEY][active]" value="1" /></td>
		<td>{DYNAMICTEMPLATE_<input type="text" name="module[KEY][name]" value="" class="input dynamictemplate_name" />}
		<br />&lt;!-- LISTENER {LISTENER} --&gt;</td>
		<td><textarea name="module[KEY][value]" rows="4" class="input" style="height:{modules.OPTIONS_HEIGHT}px;width: 97%;"></textarea></td>
	</tr>
</table>
